.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header {
  margin-bottom: 58px;
}

.contact-form {
  max-width: 612px;
  margin: 0 20px;

  input,
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 14px;
    padding: 11px;
    background-color: #c4c4c466;
    border: none;
    border-radius: 7px;
    font-family: inherit;
    font-size: inherit;
    resize: none;
  }

  .name-email-contaienr {
    display: flex;
    justify-content: space-between;
  }

  textarea {
    height: 233px;
  }

  .mandatory {
    font-size: 14px;
    text-align: left;
    margin-bottom: 33px;
  }

  .btn-big {
    display: block;
    margin: auto;
    margin-bottom: 150px;
  }

  .checkbox-container {
    margin-bottom: 57px;
  }
}

#name,
#email {
  width: 48%;
}

@media (max-width: 700px) {
  .contact-form .name-email-contaienr {
    flex-direction: column;
  }

  #name,
  #email {
    width: 100%;
  }
}

@media (max-width: 510px) {
  .contact-form input,
  .contact-form textarea {
    font-size: 14px;
  }

  .contact-form .mandatory,
  .agree-label {
    font-size: 12px;
  }

  .agree-label {
    margin-left: 10px;
  }
}