.to-top {
  position: sticky;
  bottom: -15px;
  height: 0;
  margin-left: auto;
  z-index: 100;

  a {
    position: relative;
    bottom: 50px;
    left: 0;
    cursor: pointer;
  }
}

@media (max-width: 1550px) {
  .to-top {
    bottom: -10px;

    a {
      bottom: 40px;
    }
  }
}

@media (max-width: 510px) {
  .to-top {
    bottom: -5px;
    font-size: 14px;

    a {
      bottom: 30px;
    }
  }
}