.people {
  height: 621px;
  margin-top: -4vw;
  background-image: url(../img/people-shape.png), linear-gradient(to bottom, transparent 3.5vw, #fff 3.5vw);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}