@font-face {
  font-family: "Montserrat";
  src: url(../../../shared-assets/fonts/montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(../../../shared-assets/fonts/montserrat-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url(../../../shared-assets/fonts/montserrat-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url(../../../shared-assets/fonts/montserrat-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Oswald";
  src: url(../../../shared-assets/fonts/oswald-Medium.ttf);
  font-weight: 500;
}