* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

// headers and paragraphs
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color: $primaryColor;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

p {
  color: $primaryColor;
}

// buttons
button {
  background-color: transparent;
  border: none;
  font: inherit;
}

.btn {
  width: 233px;
  height: 50px;
  font-weight: 500;
  color: white;
  background-color: $secondaryColor;
  border-radius: 25px;
  cursor: pointer;

  &:hover {
    background-color: $buttonHoverColor;
  }

  &:active {
    background-color: $buttonActiveColor;
  }
}

.btn-big {
  width: 182px;
  height: 62px;
  font-weight: 500;
  font-size: 24px;
  border-radius: 31px;
  color: white;
  background-color: $secondaryColor;
  cursor: pointer;
}

// lists
ul {
  list-style-type: none;
}

@media (max-width: 510px) {
  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }
}